<?xml version="1.0" encoding="UTF-8"?>
<window>
	<defaultcontrol always="true">9000</defaultcontrol>
	<controls>
		<include>CommonBackground</include>
		<include>VisibleFadeEffect</include>
	    <control type="group">
		<left>30</left>
		<control type="image">
		    <left>-2</left>
		    <top>17</top>
		    <width>98.6%</width>
		    <height>10.6%</height>
		    <texture>homeshadow_1.png</texture>
		 </control>
		<control type="image">
		    <left>0</left>
		    <top>20</top>
		    <width>98.4%</width>
		    <height>10%</height>
		    <texture colordiffuse="black">backgrounds/bg_fade_2.png</texture>
			<bordertexture colordiffuse="$INFO[Skin.String(color.500)]">backgrounds/bg_fade_3.png</bordertexture>
			<bordersize>2</bordersize>
		 </control>
		 <control type="image">
		    <left>-2</left>
		    <top>947</top>
		    <width>98.6%</width>
		    <height>10.6%</height>
		    <texture>homeshadow_1.png</texture>
		  </control>
		<control type="image">
		    <left>0</left>
		    <top>950</top>
		    <width>98.4%</width>
		    <height>10%</height>
		    <texture colordiffuse="black">backgrounds/bg_fade_2.png</texture>
			<bordertexture colordiffuse="$INFO[Skin.String(color.500)]">backgrounds/bg_fade_3.png</bordertexture>
			<bordersize>2</bordersize>
		  </control>
	     </control>	
		<control type="group">
		<visible>!Skin.HasSetting(Clock)</visible>
			<control type="image">
				<right>62</right>
				<top>45</top>
				<width>250</width>
				<height>60</height>
				<texture colordiffuse="FF2E2E2E">backgrounds/bg_fade_7.png</texture>
				<bordertexture colordiffuse="$INFO[Skin.String(color.500)]">backgrounds/bg_fade_4.png</bordertexture>
			    <bordersize>2</bordersize>
			</control>
			<control type="label">
				<right>177</right>
				<top>45</top>
				<width>200</width>
				<height>60</height>
				<align>right</align>
				<aligny>center</aligny>
				<font>fontContextMenu</font>
				<textcolor>white</textcolor>
				<label>$INFO[System.Time(hh:mm)]</label>
			</control>
			<control type="label">
				<right>107</right>
				<top>45</top>
				<width>70</width>
				<height>60</height>
				<align>left</align>
				<aligny>center</aligny>
				<font>fontContextMenu</font>
				<textcolor>white</textcolor>
				<label>:$INFO[System.Time(ss)]</label>
			</control>
			<control type="image">
				<left>60</left>
				<top>45</top>
				<width>250</width>
				<height>60</height>
				<texture colordiffuse="FF2E2E2E">backgrounds/bg_fade_7.png</texture>
			    <bordertexture colordiffuse="$INFO[Skin.String(color.500)]">backgrounds/bg_fade_4.png</bordertexture>
				<bordersize>2</bordersize>
			</control>
			<control type="label">
				<left>111</left>
				<top>45</top>
				<width>360</width>
				<height>60</height>
				<align>left</align>
				<aligny>center</aligny>
				<font>fontContextMenu</font>
				<textcolor>white</textcolor>
				<label>$INFO[System.Date(dd:mm:yyyy]</label>
			</control>
		</control>
		<control type="group">
			<visible>Skin.HasSetting(Touchmode)</visible>
			<control type="image">
				<left>60</left>
				<top>110r</top>
				<width>70</width>
				<height>70</height>
				<texture colordiffuse="FF2E2E2E">backgrounds/bg_fade_7.png</texture>
				<bordertexture colordiffuse="$INFO[Skin.String(color.500)]">backgrounds/bg_fade_4.png</bordertexture>
				<bordersize>2</bordersize>
			</control>
			<control type="button">
				<description>Back push button</description>
				<left>55</left>
				<top>115r</top>
				<width>80</width>
				<height>80</height>
				<label></label>
				<font/>
				<onclick>back</onclick>
				<texturefocus colordiffuse="$INFO[Skin.String(color.500)]">icons/back.png</texturefocus>
				<texturenofocus colordiffuse="FFFFFFFF">icons/back.png</texturenofocus>
			</control>
			<control type="image">
				<right>70</right>
				<top>110r</top>
				<width>70</width>
				<height>70</height>
				<texture colordiffuse="FF2E2E2E">backgrounds/bg_fade_7.png</texture>
				<bordertexture colordiffuse="$INFO[Skin.String(color.500)]">backgrounds/bg_fade_4.png</bordertexture>
				<bordersize>2</bordersize>
			</control>
			<control type="button">
				<description>Home push button</description>
				<right>65</right>
				<top>115r</top>
				<width>80</width>
				<height>80</height>
				<label></label>
				<font/>
				<onclick>ActivateWindow(home)</onclick>
				<texturefocus colordiffuse="$INFO[Skin.String(color.500)]">icons/home.png</texturefocus>
				<texturenofocus colordiffuse="FFFFFFFF">icons/home.png</texturenofocus>
			</control>
		</control>
		<!--main content-->
		<control type="group">
			<left>60</left>
			<centertop>50%</centertop>
			<width>1800</width>
			<height>783</height>
			<control type="image">
				<left>-2</left>
				<top>-3</top>
				<width>1804.4</width>
				<height>656</height>
				<texture>homeshadow_1.png</texture>
			</control>
			<control type="image">
				<left>0</left>
				<top>0</top>
				<width>1800</width>
				<height>650</height>
				<texture colordiffuse="black">backgrounds/bg_fade_2.png</texture>
				<bordertexture colordiffuse="$INFO[Skin.String(color.500)]">backgrounds/bg_fade_5.png</bordertexture>
			    <bordersize>2</bordersize>
			</control>
			<control type="image">
				<left>0</left>
				<top>0</top>
				<width>395</width>
				<height>650</height>
				<texture colordiffuse="black">backgrounds/bg_fade_2.png</texture>
				<bordertexture colordiffuse="$INFO[Skin.String(color.500)]">backgrounds/bg_fade_5.png</bordertexture>
			    <bordersize>2</bordersize>
			</control>
			<!--title-->
			<control type="label">
				<left>170</left>
				<top>60</top>
				<width>1800</width>
				<height>60</height>
				<font>info.title</font>
				<align>center</align>
				<aligny>center</aligny>
				<textcolor>$INFO[Skin.String(color.500)]</textcolor>
				<label>$LOCALIZE[31000] $LOCALIZE[5]</label>
			</control>
			<control type="image">
				<left>0</left>
				<top>-4</top>
				<width>90</width>
				<height>90</height>
				<aspectratio align="left">keep</aspectratio>
				<texture colordiffuse="white">$INFO[ListItem.Icon]</texture>
			</control>
			<control type="label">
				<left>620</left>
				<top>524</top>
				<width>900</width>
				<height>90</height>
				<label>Neon[COLORdeepskyblue]Touch[/COLOR]Reloaded</label>
				<align>center</align>
				<font>menu.title</font>
			</control>
			<control type="label">
				<left>620</left>
				<top>584</top>
				<width>900</width>
				<height>90</height>
				<align>center</align>
				<font>font_22</font>
				<label>$INFO[System.AddonVersion(skin.simpletouchreloaded),Version  ,]</label>
			</control>
			<!--content list-->
			<control type="list" id="9000">
				<left>14</left>
				<top>85</top>
				<width>390</width>
				<height>655</height>
				<onleft>9000</onleft>
				<onright>9001</onright>
				<onup>9000</onup>
				<ondown>9000</ondown>
				<pagecontrol></pagecontrol>
				<scrolltime>300</scrolltime>
				<itemlayout height="70" width="355">
				    <control type="image">
				       <left>0</left>
					   <top>0</top>
					   <width>368</width>
					   <height>60</height>
				       <texture colordiffuse="FF2E2E2E">backgrounds/bg_fade_7.png</texture>
			           <bordertexture colordiffuse="$INFO[Skin.String(color.500)]">backgrounds/bg_fade_4.png</bordertexture>
				       <bordersize>2</bordersize>
			        </control>
					<control type="label">
						<left>15</left>
						<top>0</top>
						<width>350</width>
						<height>60</height>
						<font>label</font>
						<textcolor>white</textcolor>
						<shadowcolor>black</shadowcolor>
						<align>left</align>
						<aligny>center</aligny>
						<label>$INFO[ListItem.Label]</label>
					</control>
				</itemlayout>
				<focusedlayout height="70" width="355">
					<control type="image">
						<left>0</left>
						<top>0</top>
						<width>368</width>
						<height>60</height>
						<texture colordiffuse="red">backgrounds/white.png</texture>
					</control>
					<control type="label">
						<left>15</left>
						<top>0</top>
						<width>350</width>
						<height>60</height>
						<font>label</font>
						<textcolor>white</textcolor>
						<shadowcolor>black</shadowcolor>
						<align>left</align>
						<aligny>center</aligny>
						<label>$INFO[ListItem.Label]</label>
					</control>
				</focusedlayout>
				<content>
					<item>
						<label>14201</label>
						<label2>31401</label2>
						<onclick>ActivateWindow(PlayerSettings)</onclick>
						<icon>icons/player.png</icon>
					</item>
					<item>
						<label>14205</label>
						<label2>31409</label2>
						<onclick>ActivateWindow(PVRSettings)</onclick>
						<icon>icons/livetv.png</icon>
					</item>
					<item>
						<label>14212</label>
						<label2>31401</label2>
						<onclick>ActivateWindow(MediaSettings)</onclick>
						<icon>icons/media.png</icon>
					</item>
					<item>
						<label>24001</label>
						<label2>31408</label2>
						<onclick>ActivateWindow(AddonBrowser)</onclick>
						<icon>icons/addon2.png</icon>
					</item>
					<item>
						<label>14036</label>
						<label2>31410</label2>
						<onclick>ActivateWindow(ServiceSettings)</onclick>
						<icon>icons/network.png</icon>
					</item>
					<item>
						<label>14207</label>
						<label2>31400</label2>
						<onclick>ActivateWindow(InterfaceSettings)</onclick>
						<icon>icons/skin.png</icon>
					</item>
					<item>
						<label>14209</label>
						<label2>31406</label2>
						<onclick>ActivateWindow(SystemSettings)</onclick>
						<icon>icons/settings.png</icon>
					</item>
					<item>
						<label>166</label>
						<label2></label2>
						<onclick>ActivateWindow(SkinSettings)</onclick>
						<icon>icons/system.png</icon>
					</item>
				</content>
			</control>
			<!--setting description-->
			<control type="image">
				<left>400</left>
				<top>120</top>
				<width>1350</width>
				<height>380</height>
				<aspectratio>keep</aspectratio>
				<texture>$INFO[ListItem.icon]</texture>
			</control>
			<control type="image">
				<left>-2</left>
				<top>663</top>
				<width>1803.5</width>
				<height>124.5</height>
				<texture>homeshadow_1.png</texture>
			</control>
			<control type="image">
				<left>0</left>
				<top>666</top>
				<width>1800</width>
				<height>119</height>
				<texture colordiffuse="black">backgrounds/bg_fade_2.png</texture>
				<bordertexture colordiffuse="$INFO[Skin.String(color.500)]">backgrounds/bg_fade_6.png</bordertexture>
			    <bordersize>2</bordersize>
			</control>
			<control type="label">
				<left>25</left>
				<top>678</top>
				<width>700</width>
				<height>15</height>
				<textcolor>$INFO[Skin.String(color.500)]</textcolor>
				<label>[COLORgrey]$LOCALIZE[13271][/COLOR] $INFO[System.CPUUsage]</label>
				<align>left</align>
				<font>font12</font>
			</control>
			<control type="progress">
				<left>25</left>
				<top>714</top>
				<width>860</width>
				<height>5</height>
				<info>System.CPUUsage</info>
			</control>
			<control type="label">
				<left>25</left>
				<top>730</top>
				<width>500</width>
				<height>15</height>
				<textcolor>$INFO[Skin.String(color.500)]</textcolor>
				<label>[COLORgrey]$LOCALIZE[31309][/COLOR] $INFO[system.memory(used.percent)]</label>
				<align>left</align>
				<font>font12</font>
			</control>
			<control type="progress">
				<left>25</left>
				<top>765</top>
				<description>Memory BAR</description>
				<width>860</width>
				<height>5</height>
				<info>system.memory(used)</info>
			</control>
			<control type="label">
				<left>910</left>
				<top>691</top>
				<width>900</width>
				<height>15</height>
				<textcolor>$INFO[Skin.String(color.500)]</textcolor>
				<label>[COLORgrey]KODI Version:[/COLOR]   $INFO[System.BuildVersion]</label>
				<align>left</align>
				<font>font12</font>
			</control>
			<control type="label">
				<left>910</left>
				<top>736</top>
				<width>875</width>
				<height>15</height>
				<textcolor>$INFO[Skin.String(color.500)]</textcolor>
				<label>[COLORgrey]Operation system:[/COLOR] $INFO[System.OSVersionInfo]</label>
				<align>left</align>
				<font>font12</font>
			</control>
			<control type="image">
				<left>1640</left>
				<top>520</top>
				<width>75</width>
				<height>75</height>
				<texture colordiffuse="$INFO[Skin.String(color.500)]">icons/kodi.png</texture>
			</control>
			<control type="image">
				<left>470</left>
				<top>520</top>
				<width>75</width>
				<height>75</height>
				<texture colordiffuse="$INFO[Skin.String(color.500)]">icons/kodi.png</texture>
			</control>
		</control>
		<include>BehindDialogFadeOut</include>
	</controls>
</window>